body {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease;
  }

  .card {
    background-color: white;
    transition: background-color 0.3s ease;
  }

  .bg-primary,
  .btn-primary {
    background-color: #007bff !important;
    border-color: #007bff !important;
  }

  .text-white {
    color: white !important;
  }

  .dark-mode {
    background-color: #222 !important;
    color: white;
  }

  .dark-mode .card {
    background-color: #222 !important;
    /* border: #ded5cc 2px !important; */
  }
  .dark-mode .form-control{
    color:white;
    background-color: #555;
  }
  .dark-mode ::placeholder{
    color:#ded5cc;
  }

  .dark-mode .bg-primary,
  .dark-mode .btn-primary {
    background-color: #555 !important;
    border-color: #555 !important;
  }

  .dark-mode .text-white {
    color: #ccc !important;
  }